<%= search_form_for @Search do |f| %>
          
          <div class="field">
            <%= f.label :name, "name contains" %>
            <%= f.text_field :name %>
          </div>
          <div class="actions"><%= f.submit "Search" %></div>
<% end %>